{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block nav %}
<span class="navbar-text">Авторизация</span>
{% endblock %}

{% block body %}
<p />
{% if messages %}
<ul>
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}
<p />
<form method="POST">
  {% csrf_token %}
  <div class="form-group" method="POST">
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="login" value="{{ username }}" placeholder="Введите логин">
  </div>

  <div class="form-group" method="POST">
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="passwordHelp" placeholder="Введите пароль" name="password">
  </div>
  <div class="form-group" method="POST">
    <input type="submit" class="btn btn-primary mb-2" value="Вход">
  </div>
</form>
<p><a href="/register">Регистрация</a></p>
<p><a href="/">< назад</a></p>
{% endblock %}
